<div class="container" id="user-quick-links">
	<div class="row">
		<div class="w6">
			<h1 class="h xl">Dashboard</h1>
			<p class="h s">Welcome back, <%= user.firstName %></p>
		</div>
		<div class="w6 last">
			<div class="row">
				<div class="w4">
					<a href="/create/team">Create a team</a>
				</div>
				<div class="w4">
					<a href="/create/event">New Event</a>
				</div>
				<div class="w4 last">
					<a href="/settings">Profile Settings</a>
				</div>
			</div>
		</div>
	</div>
	<% _.each(user.friendRequestsReceived, function(request, i) { %>
	<% if (i == 0) { %>
	<div class="row">
		<div class="w12">
			<h2 class="h m">Friend Requests</h2>
			<ul class="friend-requests">
			<% } %>
			<li>
			<p class="h s"><a href="/users/<%= request.userName %>"><%= request.firstName %> <%= request.lastName %></a></p>
			<a href="/users/<%= request.userName %>/request/accept" class="cta-submit inline">Accept</a>
			</li>
			<% if (i == user.friendRequestsReceived.length - 1) { %>
			</ul>
		</div>
	</div>
	<% } %>
	<% }) %>					
</div>
<div class="container wysiwyg">
	<div class="row">
		<div class="w4">
			<h2>Your Teams</h2>
			<% _.each(user.teamsAdministered, function(team, i) { %>
			<% if (i == 0) { %>
			<ul>
			<% } %>
				<li><a href="/teams/<%= team.id %>"><%= team.teamName %></a></li>
			<% if (i == user.teamsAdministered.length - 1) { %>
			</ul>
			<% } %>
			<% }) %>
		</div>
		<div class="w4">
			<h2>Friends</h2>
			<% _.each(user.friends, function(friend, i) { %>
			<% if (i == 0) { %>
			<ul>
			<% } %>
				<li><a href="/users/<%= friend.userName %>"><%= friend.firstName %> <%= friend.lastName %></a></li>
			<% if (i == user.friends.length - 1) { %>
			</ul>
			<% } %>
			<% }) %>
		</div>
		<div class="w4 last">
			<h2>Events</h2>

		</div>
	</div>
</div>