<h1 class="invisible">Dashboard</h1>
<div class="container spaced" id="user-quick-links">
	<div class="row">
		<div class="w12">
			<ul class="nav-secondary">
				<li><a href="/create/team">Create Team</a></li>
				<li><a href="/create/event">New Event</a></li>
			</ul>
		</div>
	</div>
	<% _.each(user.friendRequestsReceived, function(request, i) { %>
	<% if (i == 0) { %>
	<div class="row">
		<div class="w12">
			<h2 class="h m">Friend Requests</h2>
			<ul class="friend-requests">
			<% } %>
			<li>
			<p class="h s"><a href="/users/<%= request.userName %>"><%= request.firstName %> <%= request.lastName %></a></p>
			<a href="/users/<%= request.userName %>/request/accept" class="cta-submit inline">Accept</a>
			</li>
			<% if (i == user.friendRequestsReceived.length - 1) { %>
			</ul>
		</div>
	</div>
	<% } %>
	<% }) %>					
</div>
<div class="container wysiwyg">
	<div class="row">
		<div class="w6">
			<h2>Your Teams</h2>
			<% _.each(user.userTeams, function(team, i) { %>
			<% if (i == 0) { %>
			<ul class="dash-list team">
			<% } %>
				<li>
					<a href="/teams/<%= team.id %>"><%= team.teamName %></a>
		  			<a class="cta-submit negative inline" href="">Leave</a>
		  			<a class="cta-submit" href="/teams/<%= team.id %>">View</a>
	  			</li>
			<% if (i == user.userTeams.length - 1) { %>
			</ul>
			<% } %>
			<% }) %>
		</div>
		<div class="w6 last">
			<h2>Upcoming Events</h2>
			<% _.each(user.eventsAttending, function(thisEvent, i) { %>
			<% if (i == 0) { %>
			<ul class="dash-list event">
			<% } %>
				<li>
					<a href="/events/<%= thisEvent.id %>"><%= thisEvent.eventTitle %></a> - <span><%= moment(thisEvent.startTime).fromNow() %></span>
					<a class="cta-submit" href="/events/<%= thisEvent.id %>">View</a>
				</li>
			<% if (i == user.eventsAttending.length - 1) { %>
			</ul>
			<% } %>
			<% }) %>
		</div>
	</div>
</div>