<% if (session.authenticated) { %>
<div class="container" id="user-quick-links">
	<div class="row">
		<div class="w6">
			<p class="h s">Welcome back, <%= session.User.firstName %></p>
		</div>
		<div class="w6 last">
			<div class="row">
				<div class="w4">
					<a href="/create/team">Create a team</a>
				</div>
				<div class="w4">
					<a href="/create/event">New Event</a>
				</div>
				<div class="w4 last">
					<a href="/settings">Profile Settings</a>
				</div>
			</div>
		</div>
	</div>
	<% _.each(session.User.friendRequestsReceived, function(user, i, users) { %>
	<% if (i == 0) { %>
	<div class="row">
		<div class="w12">
			<h3>You've got friend requests from:</h3>
			<% } %>
			<p class="h s"><a href="/users/<%= user.userName %>"><%= user.userName %></a></p>
			<a href="/users/<%= user.userName %>/request/accept" class="cta-submit">Accept Request</a>
			<% if (i == users.length - 1) { %>
		</div>
	</div>
	<% } %>
	<% }) %>					
</div>
<div class="container wysiwyg">
	<div class="row">
		<div class="w4">
			<h2>Your Teams</h2>
			<% _.each(session.User.teamsAdministered, function(team, i, teams) { %>
			<% if (i == 0) { %>
			<ul>
			<% } %>
				<li><% team.teamName %></li>
			<% if (i == teams.length - 1) { %>
			</ul>
			<% } %>
			<% }) %>
		</div>
		<div class="w4">
			<h2>Friends</h2>
			<% _.each(session.User.friends, function(user, i, users) { %>
			<% if (i == 0) { %>
			<ul>
			<% } %>
				<li><% user.firstName %> <% user.lastName %></li>
			<% if (i == users.length - 1) { %>
			</ul>
			<% } %>
			<% }) %>
		</div>
		<div class="w4 last">
			<h2>Events</h2>

		</div>
	</div>
</div>
<% } else { %>
<div class="container">
	<div class="row">
		<div class="w12">
			<h1 class="full xl">GamePlan</h1>
			<!--<h3>You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>-->
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="w12">
			<p class="full l">Organise your teams &amp; events</p>
		</div>
	</div>
</div>
<% } %>



