<div class="container">
	<div class="row">
		<div class="w8">
			<a href="/teams">Back to all teams</a>
		</div>
		<div class="w4 last">
			<% if (session.authenticated && session.User.userName == team.teamAdmin.userName){ %>
			<a href="/teams/manage/<%= team.id %>">Edit this team</a>
			<% } %>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<h1><%= team.teamName %></h1>
			<p>This is a <%= team.teamSport %> team.</p>
			<p>The administrator is <a href="/users/<%= team.teamAdmin.userName %>"><%= team.teamAdmin.firstName %></a></p>
		</div>
	</div>
</div>