<div class="container med-slab">
	<div class="row">
		<div class="user-bar">
			<% if (image != null) { %>
			<p><img class="profile-photo" src="data:image/jpg;base64, <%= image %>" alt="<%= team.teamName %>"></p>
			<% } %>		
			<h1><%= team.teamName %></h1>
		</div>
	</div>
</div>
<div class="container spaced">
	<div class="row">
		<div class="w3">
			<a class="cta-submit inline" href="/teams">Back to all teams</a>
		</div>
		<div class="w6">
		</div>
		<div class="w3 last">
			<% if (session.authenticated && session.User.userName == team.teamAdmin.userName){ %>
			<a class="cta-submit inline right" href="/teams/manage/<%= team.id %>">Edit this team</a>
			<% } else if ((pos = team.teamMembers.map(function(e) { return e.id; }).indexOf(session.User.id)) == -1) /* check to see if they're already a team member */ { %> 
			<button id="join_team" class="cta-submit inline right" data-teamID="<%= team.id %>" href="/teams/<%= team.id %>/join">Join this team</button>
			<% }%>
		</div>
	</div>
</div>
<% if (session.authenticated && session.User.userName == team.teamAdmin.userName && team.joinRequestsReceived.length > 0){ %>
<div class="container dark-slab">
	<div class="row">
		<div class="w12">
			<h2 class="h l">Pending join requests</h2>
			<% _.each(team.joinRequestsReceived, function(user, i) { %>
			<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
				<p><a href="/users/<%= user.userName %>"><%= user.firstName %> <%= user.lastName %></a></p>
				<button class="cta-submit inline pending_user" data-userid="<%= user.id %>" data-teamid="<%= team.id %>">Accept</button>
			</div>
			<% }) %>
		</div>
	</div>
</div>
<% }%>
<div class="container">
	<div class="row wysiwyg">
		<div class="w4">
			<h2 class="h l">Upcoming Events</h2>
			<% _.each(team.teamEvents, function(thisEvent, i, events) { %>
				<% if (i == 0) { %>
				<ul>
				<% } %>				
				<li><a href="/events/<%= thisEvent.id %>"><%= thisEvent.eventTitle %></a>
				<span><%= moment(thisEvent.startTime).fromNow() %></span>
				</li>
				<% if (i == events.length ) { %>
				</ul>
				<% } %>				
			<% }) %>
		</div>	
		<div class="w4">
			<h2 class="h l">Members</h2>
			<% _.each(team.teamMembers, function(user, i, users) { %>
				<% if (i == 0) { %>
				<ul>
				<% } %>	
					<li><a href="/users/<%= user.userName %>"><%= user.firstName %> <%= user.lastName %></a></li>
				<% if (i == users.length ) { %>
				</ul>
				<% } %>
			<% }) %>
		</div>
	</div>
</div>	
<% if (session.authenticated && session.User.userName == team.teamAdmin.userName && team.joinRequestsReceived.length > 0){ %>
<script>
$l.ready(function() {
	var buttons = $l.dom.selectByClass('pending_user');
	console.log(buttons);
	$l.dom.setEvent(
		buttons,
		'click',
		function(event, element) {
			var userID = $l.dom.data(element, 'userid');
			var teamID = $l.dom.data(element, 'teamid');
			console.log(userID);
			$l.ajax.get(
				'/teams/' + teamID +  '/' + userID + '/accept',
				null,
				function() {
					$l.dom.replace(element, 'Request accepted');
					$l.dom.attr(element, 'disabled', 'true');
					$l.dom.attr(element, 'class', 'cta-submit inline disabled');
				}
			);
			return false;
		}
	);
});
</script>
<% } else { %>
<script>
$l.ready(function() {
	var button = $l.id('join_team');
	var thisTeam = $l.dom.data(button, 'teamID');
	$l.dom.setEvent(
		button,
		'click',
		function() {
			$l.ajax.get(
				'/teams/' + thisTeam + '/join',
				null,
				function() {
					$l.dom.replace(button, 'Request sent');
					$l.dom.attr(button, 'disabled', 'true');
					$l.dom.attr(button, 'class', 'cta-submit inline disabled');
				}
			);
			return false;
		}
	);
});
</script>
<% } %>