<div class="container spaced">
	<div class="row">
		<div class="w3">
			<a class="cta-submit inline" href="/teams">Back to all teams</a>
		</div>
		<div class="w6">
			<h1 class="full xl"><%= team.teamName %></h1>			
		</div>
		<div class="w3 last">
			<% if (session.authenticated && session.User.userName == team.teamAdmin.userName){ %>
			<a class="cta-submit inline right" href="/teams/manage/<%= team.id %>">Edit this team</a>
			<% } else { %>
			<button id="join_team" class="cta-submit inline right" data-teamID="<%= team.id %>" href="/teams/<%= team.id %>/join">Join this team</button>
			<% }%>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<p>This is a <%= team.teamSport %> team.</p>
			<p>The administrator is <a href="/users/<%= team.teamAdmin.userName %>"><%= team.teamAdmin.firstName %></a></p>
		</div>
	</div>
	<% if (session.authenticated && session.User.userName == team.teamAdmin.userName && team.joinRequestsReceived.length > 0){ %>
	<div class="row">
		<div class="w12">
			<h2>Pending join requests</h2>
			<% _.each(team.joinRequestsReceived, function(user, i) { %>
			<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
				<p><a href="/users/<%= user.userName %>"><%= user.userName %></a></p>
				<button class="cta-submit inline pending_user" data-userid="<%= user.id %>" data-teamid="<%= team.id %>">Accept</button>
			</div>
			<% }) %>
		</div>
	</div>
	<% }%>
	<div class="row">
		<h2>These people are members:</h2>
		<% _.each(team.teamMembers, function(user, i) { %>
		<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
			<p><a href="/users/<%= user.userName %>"><%= user.userName %></a></p>
		</div>
		<% }) %>
	</div>
</div>
<% if (session.authenticated && session.User.userName == team.teamAdmin.userName && team.joinRequestsReceived.length > 0){ %>
<script>
$l.ready(function() {
	var buttons = $l.dom.selectByClass('pending_user');
	console.log(buttons);
	$l.dom.setEvent(
		buttons,
		'click',
		function(event, element) {
			var userID = $l.dom.data(element, 'userid');
			var teamID = $l.dom.data(element, 'teamid');
			console.log(userID);
			$l.ajax.get(
				'/teams/' + teamID +  '/' + userID + '/accept',
				null,
				function() {
					$l.dom.replace(element, 'Request accepted');
					$l.dom.attr(element, 'disabled', 'true');
					$l.dom.attr(element, 'class', 'cta-submit inline disabled');
				}
			);
			return false;
		}
	);
});
</script>
<% } else { %>
<script>
$l.ready(function() {
	var button = $l.id('join_team');
	var thisTeam = $l.dom.data(button, 'teamID');
	$l.dom.setEvent(
		button,
		'click',
		function() {
			$l.ajax.get(
				'/teams/' + thisTeam + '/join',
				null,
				function() {
					$l.dom.replace(button, 'Request sent');
					$l.dom.attr(button, 'disabled', 'true');
					$l.dom.attr(button, 'class', 'cta-submit inline disabled');
				}
			);
			return false;
		}
	);
});
</script>
<% } %>