<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Edit your profile</h1>
			<form action="/users/update/<%= user.userName %>" method="POST">
				<input value="<%= user.firstName %>" name="firstName" type="text">
				<input value="<%= user.lastName %>" name="lastName" type="text">
				<input value="<%= user.email %>" name="email" type="text">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<input type="submit" value="Save changes">
			</form>
		</div>
	</div>
</div>	