<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Edit your profile</h1>
			<form action="/users/update/<%= user.userName %>" method="POST">
				<input value="<%= user.firstName %>" name="firstName" type="text">
				<input value="<%= user.lastName %>" name="lastName" type="text">
				<input value="<%= user.email %>" name="email" type="text">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<select name="publicView">
					<option value="true">Public</option>
					<option value="false">Private</option>
				</select>				
				<input type="submit" value="Save changes">
			</form>
			<form action="/users/addProfilePhoto" method="POST">
				<input type="file" name="avatar">
				<input type="submit" value="Upload photo">
			</form>
		</div>
	</div>
</div>	