<h1>Hellooo this is the users index</h1>
<% _.each(users, function(user) { %>
<div data-id="<%= user.id %>" data-model="user">
	<h2><%= user.firstName %> <%= user.lastName %></h2>
	<p><%= user.email %></p>
	<% _.each(user.teamsAdministered, function(team) { %>
	<p><%= team.teamName %></p>
	<% }) %>
</div> 
<% }) %>