<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Users</h1>
			<% _.each(users, function(user) { %>
			<div data-id="<%= user.id %>" data-model="user">
				<h2><a href="/users/<%= user.userName %>"><%= user.firstName %> <%= user.lastName %></a></h2>
				<% if (session.authenticated && session.User.userName == user.userName){ %>
					<p class="h s">(this is you!)</p>
				<% } %>
				<p>Known as "<%= user.userName %>"</p>
				<p><%= user.email %></p>
				<% _.each(user.teamsAdministered, function(team) { %>
				<p><a href="/teams/<%= team.id %>"><%= team.teamName %></a></p>
				<% }) %>
				<% _.each(user.friendRequestsSent, function(user, i) { %>
				<% if (i == 0) { %><h3>You've asked to be friends with:</h3><% } %>
				<p><a href="/users/<%= user.userName %>"><%= user.userName %></a></p>
				<% }) %>
				<% _.each(user.friendRequestsReceived, function(user, i) { %>
				<% if (i == 0) { %><h3>You've got friend requests from:</h3><% } %>
				<p><a href="/users/<%= user.userName %>"><%= user.userName %></a></p>
				<% }) %>				
			</div> 
			<% }) %>
		</div>
	</div>
</div>