<div class="container wysiwyg">
	<div class="row">
		<div class="w12">
			<h1><%= user.firstName %> <%= user.lastName %></h1>
			<% if (session.authenticated && user.id != session.User.id) { %>
			<button id="add_friend" data-user="<%= user.userName %>" class="cta-submit inline">Add this person yo</button>
			<!--<a href="/users/<%= user.userName %>/add" class="cta-submit inline" id="add_friend">Add Friend</a>-->
			<% } %>
			<p>This is a profile page.</p>
			<% if (user.bio) { %>
			<p><%= user.bio %></p>
			<% } %>
		</div>
	</div>
	<div class="row">
		<div class="w12">
			<h2><%= user.firstName %>'s Teams</h2>
		</div>
	</div>
	<div class="row">	
		<% _.each(user.userTeams, function(team, i) { %>
		<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
			<h3><a href="/teams/<%= team.id %>"><%= team.teamName %></a></h3>
		</div>
		<% }) %>
	</div>
	<div class="row">
		<div class="w12">
			<h2><%= user.firstName %>'s Events</h2>
		</div>
	</div>
	<div class="row">	
		<% _.each(user.eventsAttending, function(thisEvent, i) { %>
		<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
			<h3><a href="/events/<%= thisEvent.id %>"><%= thisEvent.eventTitle %></a></h3>
		</div>
		<% }) %>
	</div>	
	<% _.each(user.friends, function(friend, i, friends) { %>
	<% if (i == 0) { %>
	<div class="row">
		<div class="w12">
			<h2>Friends</h2>
			<% } %>
			<p><a href="/users/<%= friend.userName %>"><%= friend.userName %></a></p>
			<% if (i == friends.length - 1) { %>
		</div>
	</div>
	<% } %>
	<% }) %>	
</div>
<script>
$l.ready(function() {
		var button = $l.id('add_friend');
		var thisUser = $l.dom.data(button, 'user');
		$l.dom.setEvent(
			button,
			'click',
			function() {
				$l.ajax.get(
					'/users/' + thisUser + '/add',
					null,
					function() {
						$l.dom.replace(button, 'Request sent');
						$l.dom.attr(button, 'disabled', 'true');
						$l.dom.attr(button, 'class', 'cta-submit inline disabled');
					}
				);
				return false;
			}
		);
	});
</script>