<div class="container wysiwyg">
	<div class="row">
		<div class="w12">
			<h1><%= user.firstName %> <%= user.lastName %></h1>
			<a href="/users/<%= user.userName %>/add" class="cta-submit">Add Friend</a>
			<p>This is a profile page.</p>
		</div>
	</div>
	<div class="row">
		<div class="w12">
			<h2><%= user.firstName %>'s Teams</h2>
		</div>
	</div>
	<div class="row">	
		<% _.each(user.teamsAdministered, function(team, i) { %>
		<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
			<h3><a href="/teams/<%= team.id %>"><%= team.teamName %></a></h3>
		</div>
		<% }) %>
	</div>
	<% _.each(user.friends, function(friend, i, friends) { %>
	<% if (i == 0) { %>
	<div class="row">
		<div class="w12">
			<h3>Friends</h3>
			<% } %>
			<p><a href="/users/<%= friend.userName %>"><%= friend.userName %></a></p>
			<% if (i == friends.length - 1) { %>
		</div>
	</div>
	<% } %>
	<% }) %>	
</div>