<div class="container">
	<div class="row relative">
		<div class="w12">
			<h1 class="full h l">Editing <%= thisEvent.eventTitle%></h1>
		</div>
		<% if (session.User.id == thisEvent.eventTeam.teamAdmin){ %>
		<a class="cta-submit inline b right negative" href="/events/<%= thisEvent.id %>/delete">Cancel this event</a>
		<% } %>
	</div>
	<div class="row">	
		<div class="w12 wysiwyg">
			<form action="/events/update/<%= thisEvent.id %>" method="POST">
			<div class="row">
				<div class="w12">
					<h2 class="invisible">Event details</h2>
					<label for="eventTitle">Event Title</label>
					<input type="text" name="eventTitle" value="<%= thisEvent.eventTitle%>" class="input wide breaker">
				</div>
			</div>
			<div class="row">
				<div class="w6">
					<label for="eventInfo">Event Information</label>
					<textarea name="eventInfo" id="eventInfo" cols="30" rows="10"></textarea>
				</div>
				<div class="w6 last">
					<label for="eventTeam">Which team is this associated with?</label>
					<select name="eventTeam" id="eventTeam">
					<% _.each(session.User.teamsAdministered, function(team) { %>
						<option value="<%= team.id %>"<% if (thisEvent.eventTeam.id == team.id){ %> selected="selected"<% } %>><%= team.teamName %></option>
					<% }) %>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="w6 centred">
					<h2>Spaces available</h2>
					<input type="number" value="<%= thisEvent.spacesAvailable %>" name="spacesAvailable">
				</div>
				<div class="w6 last centred">
					<h2>Event Privacy</h2>
					<p>Public events can be joined by anyone. Group only events are only visible to members of your team.</p>
					<select name="eventPrivacy" id="eventPrivacy">
						<option value="public"<% if (thisEvent.eventPrivacy == "public"){ %> selected="selected"<% } %>>Public</option>
						<option value="private"<% if (thisEvent.eventPrivacy == "private"){ %> selected="selected"<% } %>>Group Only</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row roverflow">
		<div class="w12 wysiwyg">
			<h2>Set a time &amp; date</h2>
			<div class="row roverflow">
				<div class="w6 centred">
					<label class="h m" for="startTime">Start Time</label>
					<div id="startCal"></div>
					<input type="hidden" id="startTime" name="startTime" class="input" data-start="<%= thisEvent.startTime %>" value="<%= thisEvent.endTime %>">
				</div>
				<div class="w6 centred last">
					<label class="h m" for="endTime">End Time</label>
					<div id="endCal"></div>
					<input type="hidden" id="endTime" name="endTime" class="input" data-end="<%= thisEvent.endTime %>" value="<%= thisEvent.endTime %>">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row below">
		<div class="w12">
			<label class="full h l" for="location">Where?</label>
			<input type="text" name="location" class="input wide" id="location" value="" placeholder="Type a name, address or postcode">
			<div id="map-canvas"></div>
			<input type="hidden" id="locationLat" name="locationLat" value="<%- thisEvent.location.coordinates[1] %>">	
			<input type="hidden" id="locationLng" name="locationLng" value="<%- thisEvent.location.coordinates[0] %>">	
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="w12 centred">
			<input type="hidden" name="_csrf" value="<%= _csrf %>">
			<input type="submit" class="cta-submit inline input breaker" value="Update event">
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
<script>
	var query = document.getElementById('location');
	var latInput = document.getElementById('locationLat');
	var lngInput = document.getElementById('locationLng');
	var autocomplete = new google.maps.places.Autocomplete(query);
	var place;
	var map;
	var marker;

	//Add listener to detect autocomplete selection
	google.maps.event.addListener(autocomplete, 'place_changed', function () {
		place = autocomplete.getPlace();
		console.log(place);
		var newlatlong = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
		latInput.value = place.geometry.location.lat();
		lngInput.value = place.geometry.location.lng();
		map.setCenter(newlatlong);
		marker.setPosition(newlatlong);
		map.setZoom(15);
	});

	//Reset the input box on click
	query.addEventListener('click', function(){
		query.value = "";
	});

	function initializeMap() {
		var myLatlng = new google.maps.LatLng("<%- thisEvent.location.coordinates[1] %>", "<%- thisEvent.location.coordinates[0] %>");
		var mapOptions = {
			zoom: 10,
			center: myLatlng
		}
		
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 
		marker = new google.maps.Marker({
			position: myLatlng,
			map: map
		});
	}

	google.maps.event.addDomListener(window, 'load', initializeMap);

	var now = moment().format('YYYY-MM-DD HH:00');
	var start = $l.id('startTime');
	var end = $l.id('endTime');
	var oldStartTime = $l.dom.data(start, 'start');
	var oldEndTime = $l.dom.data(end, 'end');
	var formattedStart = moment(oldStartTime).format('YYYY-MM-DD HH:00');
	var formattedEnd = moment(oldEndTime).format('YYYY-MM-DD HH:00');

	rome(startCal, { initialValue: formattedStart, weekStart: 1 });
	rome(endCal, { initialValue: formattedEnd, weekStart: 1 });
	rome(startCal).on('data', function (value) {	// set the values of hidden input fields when changed
		startTime.value = value;
	});
	rome(endCal).on('data', function (value) {
		endTime.value = value;
	});	
</script>