<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Editing <%= thisEvent.eventTitle%></h1>
			<form action="/events/update/<%= thisEvent.id %>" method="POST">
			<div class="row">
				<div class="w4">
					<h2>Event details</h2>
					<label for="eventTitle">Event Title</label>
					<input type="text" name="eventTitle" value="<%= thisEvent.eventTitle%>">
					<label for="eventTeam">Which team is this associated with?</label>
					<select name="eventTeam" id="eventTeam">
					<% _.each(session.User.teamsAdministered, function(team) { %>
						<option value="<%= team.id %>"<% if (thisEvent.eventTeam.id == team.id){ %> selected="selected"<% } %>><%= team.teamName %></option>
					<% }) %>
					</select>
					<label for="eventType">Event Type</label>
					<select name="eventType" id="eventType">
						<option value="game"<% if (thisEvent.eventType == 'game'){ %> selected="selected"<% } %>>Game</option>
						<option value="training"<% if (thisEvent.eventType == 'training'){ %> selected="selected"<% } %>>Training</option>
						<option value="social"<% if (thisEvent.eventType == 'social'){ %> selected="selected"<% } %>>Social</option>
					</select>
				</div>
				<div class="w4">
					<h2>Set a time &amp; date</h2>
					<label for="startTime">Start Time</label>
					<input id="startTime" name="startTime" class="input" data-start="<%= thisEvent.startTime %>">
					<label for="endTime">End Time</label>
					<input id="endTime" name="endTime" class="input" data-end="<%= thisEvent.endTime %>">
					<h2>Spots available</h2>
					<input type="number" value="<%= thisEvent.spacesAvailable %>" name="spacesAvailable">
				</div>
				<div class="w4 last">
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
					<input type="submit" class="cta-submit inline" value="Update event">
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<script>
	var now = moment().format('YYYY-MM-DD HH:00');
	var start = $l.id('startTime');
	var end = $l.id('endTime');
	var oldStartTime = $l.dom.data(start, 'start');
	var oldEndTime = $l.dom.data(end, 'end');
	var formattedStart = moment(oldStartTime).format('YYYY-MM-DD HH:00');
	var formattedEnd = moment(oldEndTime).format('YYYY-MM-DD HH:00');
	console.log(oldStartTime);
	console.log(oldEndTime);

	rome(startTime, { initialValue: formattedStart, weekStart: 1 });
	rome(endTime, { initialValue: formattedEnd, weekStart: 1 });
</script>