<div class="container">
	<div class="row">
		<div class="w8">
			<a href="/events">Back to all events</a>
		</div>
		<div class="w4 last">
			<% if (session.authenticated && session.User.userName == thisEvent.eventTeam.teamAdmin.userName){ %>
			<a class="cta-submit inline right" href="/events/edit/<%= thisEvent.id %>">Edit this team</a>
			<% }%>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<h1><%= thisEvent.eventTitle %></h1>
			<p>The administrator is <a href="/users/<%= thisEvent.eventTeam.teamAdmin.userName %>"><%= thisEvent.eventTeam.teamAdmin.firstName %></a></p>
			<% if (thisEvent.eventStatus == "past") { %>
			<p>This event has already happened</p>
			<% } %>
		</div>
	</div>
	<div class="row">
		<div class="w12">
			<h2>Spaces Available: <%= thisEvent.spacesAvailable %></h2>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<h2>Confirmed players</h2>
			<div class="row">
				<% _.each(thisEvent.attendees, function(user, i) { %>
				<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
					<h3><a href="/users/<%= user.userName %>"><%= user.userName %></a></h3>
				</div>
				<% }) %>
			</div>
		</div>
	</div>	
</div>