<div class="container spaced">
	<div class="row">
		<div class="w8">
			<a class="cta-submit inline" href="/events">Back to all events</a>
		</div>
		<div class="w4 last">
			<% if (session.authenticated && session.User.userName == thisEvent.eventTeam.teamAdmin.userName){ %>
			<a class="cta-submit inline right" href="/events/edit/<%= thisEvent.id %>">Edit this event</a>
			<% } else { %>
			<a class="cta-submit inline right" href="/events/<%= thisEvent.id %>/rsvp">Join this event</a>
			<% } %>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<h1><%= thisEvent.eventTitle %></h1>
			<p>The administrator is <a href="/users/<%= thisEvent.eventTeam.teamAdmin.userName %>"><%= thisEvent.eventTeam.teamAdmin.firstName %></a></p>
			<% if (thisEvent.eventStatus == "past") { %>
			<p>This event has already happened</p>
			<% } %>
		</div>
	</div>
	<div class="row">
		<div class="w12">
			<h2>Spaces Available: <%= thisEvent.spacesAvailable %></h2>
			<p>This is for <%= thisEvent.eventTeam.teamName %></p>
		</div>
	</div>
	<div class="row">
		<div class="w6">
			<h2>Where?</h2>
			<div id="map-canvas"></div>
		</div>
	</div>
	<% if (session.authenticated && session.User.userName != thisEvent.eventTeam.teamAdmin.userName){ %>
	<div class="row">
		<div class="w12">
			<button id="join_event" class="cta-submit inline" data-eventID="<%= thisEvent.id %>" href="/events/<%= thisEvent.id %>/rsvp">Count me in</button>
		</div>
	</div>
	<% }%>
	<div class="row">
		<div class="w12 wysiwyg">
			<h2>Confirmed players</h2>
			<div class="row">
				<% _.each(thisEvent.attendees, function(user, i) { %>
				<div class="w4<% if (i % 3 == 0) { %> last<% } %>">
					<h3><a href="/users/<%= user.userName %>"><%= user.firstName %> <%= user.lastName %></a></h3>
				</div>
				<% }) %>
			</div>
		</div>
	</div>	
</div>
<% if (session.User.userName != thisEvent.eventTeam.teamAdmin.userName){ %>
<script>
$l.ready(function() {
	var button = $l.id('join_event');
	var thisEventID = $l.dom.data(button, 'eventID');
	$l.dom.setEvent(
		button,
		'click',
		function() {
			$l.ajax.get(
				'/events/' + thisEventID + '/rsvp',
				null,
				function() {
					$l.dom.replace(button, "You're in!");
					$l.dom.attr(button, 'disabled', 'true');
					$l.dom.attr(button, 'class', 'cta-submit inline disabled');
				}
			);
			return false;
		}
	);
});
</script>
<% } %>
<script>
	function initialize() {
		var eventLatlng = new google.maps.LatLng("<%- thisEvent.location.coordinates[1] %>", "<%- thisEvent.location.coordinates[0] %>");
		var myOptions = {
			zoom: 16,
			center: eventLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
		marker = new google.maps.Marker({
			position: eventLatlng,
			map: map
		});
	}

	function loadScript() {
	var script = document.createElement("script");
	script.type = "text/javascript";
	script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
	document.body.appendChild(script);
	}

	window.onload = loadScript;

</script>